@model ICollection<Shared.ViewModels.ProductAttributeVM>

<div class="product-info">
    <div class="d-flex">
        @foreach (var item in Model)
        {
            <a class="attr-item" itemid="@item.Id" href="javascript:void(0)">@item.Size</a>
        }
    </div>
</div>