@model IEnumerable<Shared.ViewModels.ProductAttributeVM>

<div class="product-info">
    <div class="d-flex">
        <a class="attr-item active" href="">Xanh</a>
        <a class="attr-item" href="">Do</a>
        <a class="attr-item disable" href="">Vang</a>
    </div>
</div>
<div class="product-info">
    <div class="d-flex">
        <a class="attr-item active" href="">XS</a>
        <a class="attr-item" href="">S</a>
        <a class="attr-item" href="">L</a>
    </div>
</div>