<!------ feature-cost ----->
<div class="container-fluid policy">
    <div class="row">
        <div class="col-4 policy-item">
            <div class="img">
                <img width="45" height="45" src="~/icons/wallet.svg" alt="" />
            </div>
            <p>fast & free delivery</p>
        </div>
        <div class="col-4 policy-item">
            <div class="img">
                <img width="45" height="45" src="~/icons/shipped.svg" alt="" />
            </div>
            <p>fast & free delivery</p>
        </div>
        <div class="col-4 policy-item">
            <div class="img">
                <img width="45" height="45" src="~/icons/security.svg" alt="" />
            </div>
            <p>fast & free delivery</p>
        </div>
    </div>
</div>
<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-2 order-lg-1">
            <h4 class="footer-title">Quick links</h4>
            <div class="footer-items footer-links">
                <a>Men product</a>
                <a>Woman product</a>
                <a>Sale product</a>
                <a>Features product</a>
                <a>Contacts us</a>
            </div>
        </div>
        <div class="col-lg-2 order-lg-2">
            <h4 class="footer-title">Quick links</h4>
            <div class="footer-items footer-links">
                <a>Men product</a>
                <a>Woman product</a>
                <a>Sale product</a>
            </div>
        </div>
        <div class="col-lg-2 order-lg-3">
            <h4 class="footer-title">Quick links</h4>
            <div class="footer-items footer-links">
                <a>Men product</a>
                <a>Woman product</a>
                <a>Contacts us</a>
            </div>
        </div>
        <div class="col-lg-2 order-lg-4">
            <h4 class="footer-title">Quick links</h4>
            <div class="footer-items footer-links">
                <a>Features product</a>
                <a>Contacts us</a>
            </div>
        </div>
        <div class="col-lg-4 order-lg-0">
            <h3 style="margin-bottom: 1em">MY SHOP</h3>
            <p style="opacity: 0.7">
                Quibusdam ex, nihil harum voluptas aut repellendus dolor quo
                possimus nesciunt sint cupiditate nostrum. Magni aspernatur
                provident molestiae, laudantium culpa quasi non.
            </p>
            <div class="social footer-links">
                <a>
                    <img width="40" height="40" src="./icons/instagram.svg" alt="" srcset="" />
                </a>
                <a>
                    <img width="40" height="40" src="./icons/facebook.svg" alt="" srcset="" />
                </a>
                <a>
                    <img width="40" height="40" src="./icons/youtube.svg" alt="" srcset="" />
                </a>
            </div>
        </div>
    </div>
    <p class="copy-right">
        &copy Copyright ©2021 All rights reserved | This development by
        vtoan.2805
    </p>
</div>