@using CustomerSite.Helpful
<!------ header ----->
<header class="container header">
    <div class="row align-items-center">
        <div class="col-9 col-lg-3">
            <div class="img logo">
                <img src="~/images/rstore-icon.png" alt="" srcset="" />
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-6">
            <div class="nav d-flex">
                <a href="/" class="nav-item">home</a>
                <a href="/type/1" class="nav-item">shirts</a>
                <a href="/type/2" class="nav-item">pants</a>
                <a href="/type/3" class="nav-item">jackets</a>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-3">
            <div class="actions d-flex">
                <a id="search-trigger" href="#" class="nav-item">
                    <i class="las la-search"></i></a>
                @if (User.Identity.IsAuthenticated)
                {
                    <span>@PageHelper.GetUserName(User)</span>
                    <a href="/Account/SignOut" class="nav-item"><i class="las la-sign-out-alt"></i></a>
                }
                else
                {
                    <a href="/Account/SignIn" class="nav-item"> <i class="las la-user"></i> </a>
                }
                <a href="/Order" class="nav-item">
                    <i class="las la-shopping-bag"></i></a>
                <span id="cart-counter" class="impress bold">0</span>
            </div>
        </div>
        <!-- nav - mobile -->
        <div class="d-block d-lg-none col-3">
            <div class="actions d-flex">
                <span id="cart-counter-mobile" class="impress bold">0</span>
                <a href="#" class="nav-item">
                    <i class="las la-shopping-bag"></i></a>
                <a id="menu-trigger" href="#" class="nav-item" style="padding: 0; font-size: 28px">
                    <i class="las la-bars"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <div class="search-content">
            <div class="d-flex">
                <input type="text" placeholder="Search something ..." />
                <i id="search-close" class="las la-times nav-item"></i>
            </div>
        </div>
    </div>
</header>