<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!------ reference res ----->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="~/libs/normalize/normalize.css" />
    <link rel="stylesheet" href="~/libs/bootstrap/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/libs/jpopup/dist/css/index.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@@300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@splidejs/splide@@latest/dist/css/splide.min.css" />
    <!------ css res ----->
    <link rel="stylesheet" href="~/css/utilities.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
</head>

<body>
    <partial name="_HeaderPartial" />
    @RenderBody()
    <partial name="_FooterPartial" />

    <!------ referenct res ----->
    <script src="~/libs/jpopup/dist//js/index.min.js"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
