@model IEnumerable<Shared.ViewModels.ProductVM>
@{
    var hostUrl = Startup.HostUri;
}
<div id="list-product">
    @if (Model == null || Model.Count() == 0)
    {
        <p class="data-empty">No data</p>
    }
    else
    {
        <div class="row mb-padding">
            @foreach (var item in Model)
            {
                <div class="col-6 col-lg-3">
                    <div class="product-item">
                        <span class="product-sale"> Hot</span>
                        <a product-link href="/">
                            <div class="product-img">
                                <div class="img">
                                    <img src="./images/product-3.png" alt="" srcset="" />
                                </div>
                            </div>
                            <div class="product-content">
                                <p product-name class="mb-none bold">@item.Name</p>
                                @{
                                    var des = @item.ProductDescription.Split("/");
                                    <p>@des[0]</p>
                                }
                                <div class="rating">
                                    @{
                                        var maxRate = item.Ratings.Count;
                                        for (int i = 0; i < maxRate; i++)
                                        {
                                            <i class="las la-star"></i>
                                        }
                                    }
                                </div>
                                <p class="price"> <currency> @item.Price</currency></p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>