@using CustomerSite.Helpful;
@{
    var cateCurrent = ViewBag.CateCurrent;
    var typeId = ViewBag.TypeId;
}
<details>
    <summary class="bold text-4 upper-case" style="margin-bottom: 1em">
        Filter products
    </summary>
    @foreach (var item in Model)
    {
        <a class="d-block btn btn-sm border-primary black" style="margin-bottom: 1em"
        href="/type/@typeId@PageHelper.CreateURI(item.Id)">@item.Name</a>
    }
</details>