@using CustomerSite.Helpful;
@{
    var _pageParma = ViewBag.ProdPageParam;
}
<details>
    <summary class="bold text-4 upper-case" style="margin-bottom: 1em">
        Filter products
    </summary>
    @foreach (var item in Model)
    {
        var className = "";
        if (item.Id == _pageParma.cateId) className = "active";
        <a class="d-block btn btn-sm border-secondary black filter-item @className" style="margin-bottom: 1em"
        href="@PageHelper.CreateURI(@_pageParma.typeId, item.Id,@_pageParma.sort, 1,@_pageParma.query)">@item.Name</a>
    }
</details>