@section Css {
<link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/dropdown.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />

}
@section Scripts {
<script src="~/js/cart-site.js" asp-append-version="true"></script>
}
<!------ breadcrum ----->
<div class="breadcrumb section"><a>home</a> / <a>asd</a></div>
<!------ cart ----->
<div class="container section">
    <div id="cart" class="list-wrapper">
        <div class="row">
            <div class="col-12 col-lg-7 section">
                <!------ cart - header list ----->
                <div class="title-table">
                    <div>
                        <h4 class="d-inline-block semi-bold">Products</h4>
                        <p class="m-none float-right">
                            <span id="count-items">0</span> items
                        </p>
                    </div>
                    <div class="line"></div>
                </div>
                <!------ cart - list ----->
                <div id="cart-container">
                    <p class="text-center secondary">Loading ...</p>
                </div>
            </div>
            <div class="col-12 col-lg-5 section">
                <!------ cart - header total ----->
                <div class="title-table">
                    <h4 class="d-inline-block semi-bold">Totals</h4>
                    <div class="line"></div>
                </div>
                <!------ cart - table ----->
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td order-total="">0 đ</td>
                        </tr>
                        <partial name="_FeePartial" model=@ViewBag.Fees />
                        <tr class="semi-bold">
                            <td>Payment</td>
                            <td class="impress" order-pay>0 đ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 text-center pt-4">
                <form method="POST">
                    <button checkout class="btn btn-sm w-50 border-impress btn-submit" style="max-width: 250px"
                        type="submit">
                        Tiếp tục
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>