@model (IEnumerable<string> ImageRes, int prodId )
<cache enabled="false">
    <div class="gallery">
        <div class="img-anim">

            <div class="img">
                <img product-src="@ViewBag.ImageDefault" />
            </div>
        </div>
        <a class="arrow-prev black"><i class="las la-angle-left icon-big"></i></a>
        <a class="arrow-next black"><i class="las la-angle-right icon-big"></i></a>
    </div>
    <div class="gallery-nav">
        @* <div class="img">
            <img product-src="product-1.png" loading="lazy" />
            </div>
            <div class="img">
            <img product-src="product-2.png" loading="lazy" />
            </div>
            <div class="img">
            <img product-src="product-3.png" loading="lazy" />
            </div> *@
        @foreach (var item in Model.ImageRes)
        {
            <div class="img">
                <img product-src="@item" loading="lazy" />
            </div>
        }
    </div>
</cache>