@using CustomerSite.Helpful;
@using Shared.Enums

@section Css {
<link rel="stylesheet" href="~/css/product.css" />
<link rel="stylesheet" href="~/css/dropdown.css" />
}
@section Scripts {
<script src="~/js/dropdown.js"></script>
<script src="~/js/products.js"></script>
}
@{
    var cateId = ViewBag.CateId;
    var typeId = ViewBag.TypeId;
    var pageCurrent = ViewBag.PageCurrent;
    var sort = ViewBag.Sort;
}
<!------ breadcrum ----->
<div class="breadcrumb section"><a>home</a> / <a>asd</a></div>
<!------ list product----->
<div class="list-product-wrapper section">
    <div class="container-fluid">
        <div class="row">
            <!------ filter ----->
            <div class="col-12 col-lg-3">
                @await Component.InvokeAsync("FilterCategory",new {typeId=typeId, cateIdCurrent=cateId})
            </div>
            <!------ product----->
            <div class="col-12 col-lg-9">
                <!------ order ----->
                <div class="order-by">
                    <div class="row align-items-top justify-content-between">
                        <div style="padding-left: 15px">@ViewBag.Total products</div>
                        <div class="dropdown">
                            <div class="select" style="padding-top: 0">
                                <span style="font-weight: 500">Order by</span>
                                <i class="las la-angle-down"></i>
                            </div>
                            <input id="filter" type="hidden" name="filter" />
                            <ul class="dropdown-menu">
                                <li value="0"><a
                                        href="/product/@typeId@PageHelper.CreateURI(cateId,ProductSort.LowPrice)">Low</a>
                                </li>
                                <li value="1"><a
                                        href="/product/@typeId@PageHelper.CreateURI(cateId,ProductSort.HighPrice)">High</a>
                                </li>
                                <li value="2"><a
                                        href="/product/@typeId@PageHelper.CreateURI(cateId,ProductSort.Popular)">Popular</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!------ list ----->
                <partial name="_ListProductsPartial" model="@Model" />
                <!------ paginaton ----->
                <div class="pagination">
                    @for (int i = 1; i <= ViewBag.Page; i++)
                    {
                        var className = "";
                        if (i == ViewBag.PageCurrent) className = "active";
                        <a class='page-item @className'
                        href="/product/@typeId@PageHelper.CreateURI(ViewBag.CateId,ViewBag.Sort,i)">@i</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>