@section scripts{
<script>
    cartMng.clear();
    updateCountInCart();
</script>
}
<div class=" text-center" style="padding: 200px 0;">
    <h1 class="impress" style="margin-bottom: 1em;">Ordered Success.</h1>
    <p class="">Thanh for order of my shop!</p>
    <a class="d-inline-block" href="/">Return to home</a>
</div>