.line {
  background-color: var(--bg-secondary);
  height: 1px;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#cart .title-table {
  padding-bottom: 1em;
}
a[prom-submit] {
  padding: 0.6em 1.5em;
}
.btn-anim {
  padding: 0.6em 1.5em;
  font-weight: 500;
  background-color: var(--impress);
  color: var(--bg-primary);
}
.btn-anim:hover {
  background-color: var(--bg-primary);
  color: var(--primary);
}
.table tr td:last-child {
  text-align: right;
}
