.title-float {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  font-size: 0.7em;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
@media only screen and (min-width: 62em) {
  .title-float {
    font-size: inherit;
  }
}
/*============== 1.header =============*/
.header {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  position: relative;
}

.logo {
  width: 45%;
}

.nav {
  justify-content: space-between;
  align-content: center;
  font-weight: 400;
}
.nav-item {
  text-transform: uppercase;
  padding: 0px 16px;
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.nav-item:hover {
  color: var(--impress);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions #cart-counter {
  line-height: 1.6;
}

.search-bar {
  background-color: var(--bg-primary);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: -100%;
  transition: 0.3s ease-in-out;
  z-index: 99;
}

.search-bar .search-content {
  position: absolute;
  padding: 1.7em 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  z-index: 99;
}
@media only screen and (min-width: 62em) {
  .search-bar .search-content {
    padding: 1.4em 132px 1.4em 132px;
  }
}

.search-bar.show {
  top: 0;
}

.search-bar .d-flex {
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.search-bar input {
  border: none;
  width: 90%;
  font-size: 1.5em;
  padding: 0 !important;
}
.search-bar input:focus {
  outline: none !important;
}

.search-bar .nav-item {
  padding-right: 0;
}

/*============== 2.nav - mobile =============*/
.nav-mobile {
  flex-flow: column;
  font-size: 1.6em;
}
.nav-mobile .nav-item {
  margin-bottom: 1em;
}

/*============== 3.slider =============*/
.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

/*============== 4.product =============*/
.policy-item {
  position: relative;
}

.product-item .product-sale {
  background-color: var(--impress);
  padding: 0.25em 0.75em;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  left: 22px;
  z-index: 99;
  color: white;
  font-weight: 500;
}

.product-content {
  text-align: center;
  font-weight: 400;
  padding-top: 1.5em;
  margin-bottom: 4em;
  cursor: pointer;
}

.product-content p[product-name]:hover {
  color: var(--impress);
}

.product-content a[product-add-cart]:hover {
  background-color: white;
  color: var(--primary);
}

.product-content .rating {
  color: #faad14;
}

.product-content .price {
  font-weight: 500;
}

.product-img {
  position: relative;
  padding-top: 110%;
  background-image: url(../icons/no-img.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}

.product-img .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.product-img img {
  border-radius: 10px;
}

.product-img:hover {
  transform: scale(1.1);
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  font-size: 3em;
  margin-bottom: 1em;
}

/*============== 5. categoies =============*/
.categories {
  justify-content: space-evenly;
}

.category-item {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

.category-item img {
  border-radius: 10px;
}

.category-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 16px;
  background-color: black;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 10px;
}

.category-item:hover::before {
  opacity: 0.1;
}

.category-title {
  position: absolute;
  text-align: center;
  padding: 0.5em 0;
  background-color:rgba(0, 0, 0, 0.9);
  color: white;
  bottom: 12px;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all 0.3s ease-out;
  font-weight: 500;
}

@media only screen and (min-width: 62em) {
  .category-title{
    opacity: 0;
    padding: 1em 0;
  }
}

.category-item:hover .category-title {
  opacity: 1;
  bottom: 16px;
}

.category-link {
  position: absolute;
  top: 35%;
  left: 25%;
  right: 25%;
  opacity: 0;
  transition: all 0.3s ease-out;
  z-index: 99;
}
.category-item:hover .category-link {
  opacity: 1;
  top: 40%;
}

.category-link .btn:hover {
  color: var(--impress);
  background-color: white;
}
/*============== 6.about =============*/
.about {
  position: relative;
}

.about .img-warpper {
  position: relative;
}

.about .img-warpper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: black;
  opacity: 0.4;
}

.about .btn:hover {
  color: var(--impress);
  background-color: white;
}

.more-product {
  text-align: center;
  display: block;
  color: var(--primary);
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 500;
}

.more-product:hover {
  color: var(--impress);
}

@media only screen and (min-width: 62em) {
  .about .btn {
    width: 25%;
  }
}

/*============== 7.policy =============*/
.policy {
  padding-top: 5em;
  padding-bottom: 4em;
  background-color: var(--bg-secondary);
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}

.policy-item {
  align-self: flex-start;
}

/*============== 8.footer =============*/

.footer {
  background-color: var(--primary);
  color: var(--bg-primary);
}

.footer div[class="row"] {
  padding: 4em 2em;
}

.footer > div[class^="col-"] {
  padding: 0 2em;
}

.footer-title {
  margin-bottom: 2em;
  font-weight: 400;
}
.footer-items {
  cursor: pointer;
}

.footer-links > a {
  opacity: 0.7;
}

.footer-links > a:hover {
  opacity: 1;
}
.footer-items {
  margin-bottom: 2em;
}

.footer-items > a {
  color: inherit;
  display: block;
  margin-bottom: 1em;
}

.copy-right {
  text-align: center;
  opacity: 0.7;
  padding-bottom: 1.5em;
  margin: 0;
}

.social {
  padding: 1em 0;
  cursor: pointer;
}

.social > a {
  padding-right: 1em;
}
