/*============== 1.header =============*/
.header {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  position: relative;
}

.logo {
  width: 45%;
}

.nav {
  justify-content: space-between;
  align-content: center;
  font-weight: 400;
}
.nav-item {
  text-transform: uppercase;
  padding: 0px 16px;
  text-decoration: none;
  color: var(--primary);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.nav-item:hover {
  color: var(--impress);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions #cart-counter {
  line-height: 1.6;
}

.search-bar {
  background-color: var(--bg-primary);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: -100%;
  transition: 0.3s ease-in-out;
  z-index: 99;
}

.search-bar .search-content {
  position: absolute;
  padding: 1.7em 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  z-index: 99;
}
@media only screen and (min-width: 62em) {
  .search-bar .search-content {
    padding: 1.4em 132px 1.4em 132px;
  }
}

.search-bar.show {
  top: 0;
}

.search-bar .d-flex {
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.search-bar input {
  border: none;
  width: 90%;
  font-size: 1.5em;
  padding: 0 !important;
}
.search-bar input:focus {
  outline: none !important;
}

.search-bar .nav-item {
  padding-right: 0;
}

/*============== 2.nav - mobile =============*/
.nav-mobile {
  flex-flow: column;
  font-size: 1.6em;
}
.nav-mobile .nav-item {
  margin-bottom: 1em;
}

.jPopup-content {
  /* top: 32% !important; */
}
/*============== 3.slider =============*/
.slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider .title-slider {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  font-size: 0.7em;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}
@media only screen and (min-width: 62em) {
  .slider .title-slider {
    font-size: inherit;
  }
}
/*============== 2.product =============*/
.product-content {
  text-align: center;
  font-weight: 400;
  padding-top: 1.5em;
  margin-bottom: 4em;
  cursor: pointer;
}

.product-content:hover p[product-name] {
  color: var(--impress);
}

.product-content:hover a[product-add-cart] {
  background-color: white;
  color: var(--primary);
}

.product-content > p:not(:nth-child(3)) {
  margin-bottom: 0.5em;
}
